$errorColor: #F16060;
$successColor: #0CBEAB;
$warningColor: #F9C01F;

/* test exports that are poorly formatted */
:export {error: $errorColor;

  success: $successColor;

     warning: $warningColor;}
